@font-face {
  font-family:'Lato';
  font-weight:900;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lato-black.ttf);
}
@font-face {
  font-family:'Lato';
  font-weight:700;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lato-bold.ttf);
}
@font-face {
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lato-regular.ttf);
}
@font-face {
  font-family:'Lato';
  font-weight:300;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lato-light.ttf);
}
@font-face {
  font-family:'Lato';
  font-weight:100;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lato-thin.ttf);
}
@font-face {
  font-family:'LilitaOne';
  font-weight:normal;
  font-style:normal;
  src:url(https://kuno.bitejo.com/assets/lilita-one-regular.ttf);
}
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3f4d5a;
  text-rendering: optimizeLegibility;
}
body {
  background-color: #F1F7FA;
  padding: 0;
  margin: 0;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.main, .side, div {
  text-align: left;
}
.main.center, .side.center, div.center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: #546778;
}
.boxed {
  border: 2px solid #eef2f7;
  border-radius: 5px;
  border-width: 2px 3px 3px 2px;
  background-color: #fdfdf9;
}
.boxed.extra-padding {
  padding: 40px !important;
  margin: 20px !important;
}
.boxed.padded {
  padding: 20px !important;
}
.heading {
  font-weight: 700;
  font-size: 18px;
  color: #546778;
  margin-top: 0;
  margin-bottom: 0;
}
.ellipsis-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
select,
input,
textarea,
button,
radio {
  font-family: "Lato", sans-serif;
  outline: 0;
}
input[type=file] {
 border-bottom: 0px !important;
}
.homepage-stats img.mini {
  margin-top: -4px;
  margin-right: 3px;
}
.homepage-stats hr {
  color: transparent;
  background-color: transparent;
}
.homepage-stats .card {
  border-color: transparent;
}
header {
  color: #fff;
  background: linear-gradient(to bottom right, #08cbee 0%, #087fee 100%);
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: block;
  z-index: 3;
  padding: 0px 10px;
}
header h1,
header h2,
header p {
  display: inline-block;
}
.header-name {
  position: relative;
}
.header-beta {
  display: none;
}
header .logo-small {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  margin-top: 2px;
}
header .one, header .two {
  padding: 0 !important;
  margin: 0 !important;
}
header a, header p, header li {
  color: #fff !important;
  font-weight: 500 !important;
}
header .header-name {
  color: #fff !important;
  font-size: 26px;
  padding-left: 5px;
  font-weight: 400 !important;
  letter-spacing: -1px;
}
#header_searchbar {
  margin: 0;
}
#header_searchbar .header-search-input {
  background: rgba(255,255,255,0.3);
  border: 0px;
}
.box-homepage #header_searchbar .header-search-input {
  background: rgba(255,255,255,0.6) !important;
}
#header_searchbar .header-search-input::placeholder {
  color: #546778 !important;
}
#header_searchbar .header-search-button, .arrow-button {
  font-size: 28px !important;
  border: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 6px !important;
  padding-left: 8px !important;
  padding-right: 6px !important;
  margin-left: 4px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: 100% !important;
}
.header-search-input.search-page-input {
  width: 50% !important;
  display: inline-block !important;
  background-color: #fff !important;
  color: #777 !important;
}
.search-page-select {
  border: 2px solid #ff7a00 !important;
  border-right-color: rgb(255, 122, 0) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
  border-right: 0px !important;
  color: #777 !important;
  height: 36px !important;
  margin-left: -20px !important;
  background-color: #fff !important;
  border-radius: 0px !important;
  border-left: 2px solid rgba(255,122,0,0.6) !important;
  width: 25% !important;
}
.header-links .small {
  font-size: 16px;
}
.header-payment-methods {
  background: #dde5ef;
  padding: 5px 0px !important;
}
.header-payment-methods img {
  width: 110px;
  height: auto;
  opacity: 0.5;
}
footer {
  color: #546778;
  background-color: #cbe2ed;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: block;
  z-index: 3;
  font-size: 14px;
  line-height: 125%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold !important;
}
footer a {
  font-weight: bold !important;
}
footer ul, footer .one, footer.two, .footer-links {
  vertical-align: top !important;
}
footer ul {
  margin-top: 0px !important;
}
ul,
ul li {
  padding-left: 0;
  list-style-type: none;
}
ul li:before {
  content: "▸ ";
  font-size: 16px;
  vertical-align: middle;
  opacity: 0.5;
}
nav ul li:before,
ul li.li-title:before,
ul.no-bullet li:before,
ul.no-bullets li:before {
  display: none;
}
.nav ul {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.nav li {
  display: inline-block;
  color: #546778;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition: opacity 0.3s;
  cursor: pointer;
  opacity: 0.9;
}
.nav img.x-small {
  margin: 0 0 2px 0;
  border-radius: 0;
}
.nav img.x-small.rounded {
  border-radius: 10px;
}
section {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
hr {
  display: block;
  height: 2px;
  background-color: #dde5ee;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
}
div.extra-spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
a {
  color: #4e91e4;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}
a.dark,
a:hover {
  color: #315b8e;
}
a.no-format {
  font-weight: 400;
  color: #546778;
}
a.no-format:hover {
  color: #2a333c;
}
input,
select,
textarea {
  display: inline-block;
  height: 34px;
  max-width: 100%;
  line-height: 34px;
  font-size: 16px;
  font-weight: 400;
  color: #546778;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 0;
  border: 0px;
  border-bottom: 2px solid #879aab;
  border-radius: 0px;
  background-color: transparent;
  vertical-align: middle;
  transition: border 0.3s ease;
}
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border-bottom: 2px solid #0892EE;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #546778 !important;
  opacity: 0.7 !important;
}
textarea {
  font-family: "Lato", sans-serif;
  height: 68px;
  padding-top: 8px;
  line-height: 20px;
}
input[type="checkbox"],
input[type="radio"],
label,
select {
  cursor: pointer;
  margin-top: 0;
}
input[disabled],
label.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
input[type="text"][disabled] {
  max-width: 220px;
}
a.btn,
button,
input[type="submit"] {
  background-color: #4e91e4;
  color: #fff;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
  max-width: 100%;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0px;
  margin-top: 5px;
}
a.btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
a.btn,
a.btn.small {
  color: #fff;
}
a.btn:hover,
button:hover,
input[type="submit"]:hover {
  background-color: #3f76b9;
}
.tag.red,
a.btn.red,
button.red,
input[type="submit"].red {
  color: #fff;
  background-color: #ee675d;
}
a.btn.red:hover,
button.red:hover,
input[type="submit"].red:hover {
  background-color: #ca2b1f;
}
.tag.red {
  border: 0;
}
a.btn.gray,
button.gray,
input[type="submit"].gray {
  color: #fff;
  background-color: #96a7b6;
}
a.btn.gray:hover,
button.gray:hover,
input[type="submit"].gray:hover {
  background-color: #788ea1;
}
.btn-transparent {
  background-color: transparent !important;
  color: #4e91e4 !important;
}
label {
  vertical-align: middle;
  font-weight: 600;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #546778;
  margin-top: 0;
  margin-bottom: 0;
}
label.inline {
  margin-right: 10px;
}
.lineheight-100,
div.lineheight-100,
label.lineheight-100,
p.lineheight-100,
span.lineheight-100 {
  line-height: 100%;
}
label.lineheight-100 input {
  line-height: 100%;
}
.small {
  display: block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 13px;
  color: #879aab;
}
.large {
  display: block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 24px;
  color: #879aab;
}
.x-large {
  display: block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 36px;
  color: #879aab;
}
img.large,
img.medium,
img.small {
  width: auto;
  height: auto;
  margin: 10px auto;
}
img.mini {
  max-width: 20px;
  max-height: 20px;
}
img.x-small {
  max-width: 32px;
  max-height: 32px;
}
img.small {
  max-width: 50px;
  max-height: 50px;
}
img.mid-small {
  max-width: 90px;
  max-height: 90px;
}
img.medium {
  max-width: 150px;
  max-height: 150px;
}
img.large {
  max-width: 350px;
  max-height: 350px;
}
img.large {
  max-width: 100% !important;
}
img.rounded {
  border-radius: 10px;
}
img.unrounded {
  border-radius: 0;
}
img.icon-mini {
  max-width: 16px;
  max-height: 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 0;
}
img.icon-xs {
  max-width: 12px;
  max-height: 12px;
  border-radius: 0;
}
img.icon-sm {
  max-width: 18px;
  max-height: 18px;
  border-radius: 0;
}
.valign-top {
  vertical-align: top !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.no-line-height {
  line-height: 100% !important;
}
.mono {
  font-family: monospace;
  font-size: 14px;
  word-break: break-all;
}
.card {
  display: block;
  width: 100%;
  color: #546778;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #eef2f7;
  border-radius: 5px;
  border-width: 2px 3px 3px 2px;
  padding: 12px;
  background-color: #fdfdf9;
}
.card.dark,
.card.status {
  background-color: #eef2f7;
  border: 1px solid #fff;
}
.card.green {
  background-color: #9be4b8;
  color: #268d4f;
  border: transparent;
}
.card.blue {
  background-color: #a7c8f2;
  color: #1b5eb1;
  border: transparent;
}
.card.red {
  background-color: #f8beb9;
  color: #cf2316;
  border: transparent;
}
.card.pink {
  background-color: #fad4d0;
  color: #cf2316;
  border: transparent;
}
.card.status::before {
  position: absolute;
  top: 10px;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.card.status.success {
  border-left: 5px solid #4acf7f;
}
.card.status.info {
  border-left: 5px solid #4e91e4;
}
.card.status.error {
  border-left: 5px solid #ee675d;
}
.card.status.success::before {
  background-color: #4acf7f;
  content: "✓";
}
.card.status.info::before {
  background-color: #4e91e4;
  content: "?";
}
.card.status.error::before {
  background-color: #ee675d;
  content: "!";
}
.tag {
  display: inline-block;
  color: #546778;
  border: 2px solid #eef2f7;
  border-width: 2px 3px 3px 2px;
  border-radius: 5px;
  padding: 4px 8px;
  line-height: 100%;
  margin: 0 2px;
}
.tag.dark {
  background-color: #eef2f7;
  border: transparent;
}
.tag.blue {
  background-color: #4e91e4;
  color: #fff !important;
  border: transparent;
}
.tag.small {
  padding: 2px 4px 0 4px;
  line-height: 14px;
  margin: 0 0 0 2px;
}
.five,
.five-half,
.four,
.four-half,
.half,
.one,
.one-half,
.six,
.three,
.two,
.two-half {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.six {
  width: calc(100% - 2px);
}
.five-half {
  width: calc(90% - 2px);
}
.five {
  width: calc(82% - 2px);
}
.four-half {
  width: calc(74% - 2px);
}
.four {
  width: calc(66% - 2px);
}
.three {
  width: calc(50% - 2px);
}
.two-half {
  width: calc(41% - 2px);
}
.two {
  width: calc(33% - 2px);
}
.one-half {
  width: calc(24% - 2px);
}
.one {
  width: calc(16% - 2px);
}
.half {
  width: calc(8% - 2px);
}
.main,
.side {
  vertical-align: top;
  padding-top: 20px;
}
.inline {
  display: inline-block;
}
.logo {
  width: 25px;
  height: 25px;
  border-radius: 0;
  margin-top: -7px;
  margin-right: 5px;
  vertical-align: middle;
}
.red {
  color: #ee675d;
}
.yellow {
  color: #fbc850;
}
.green {
  color: #4acf7f;
}
.btn.btn-green {
  background-color: #66bb6a;
}
.btn.btn-green:hover {
  background-color: #3c9540;
  transition: background-color 0.3s;
}
.blue {
  color: #4e91e4;
}
.black {
  color: #546778;
}
.gray {
  color: #879aab;
}
.white {
  color: #fff;
}
a.white,
a.white:hover {
  color: #fff !important;
}
.white-text-outline {
  text-shadow: -2px 2px 1px rgba(255, 255, 255, 0.5), 2px 2px 1px rgba(255, 255, 255, 0.5), 2px -2px 1px rgba(255, 255, 255, 0.5), -2px -2px 1px rgba(255, 255, 255, 0.5);
}
.no-bold,
a.no-bold {
  font-weight: normal !important;
}
hr.white {
  background-color: #fdfdf9;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-middle {
  float: middle;
}
.float-none {
  float: none;
}
.valign-top {
  vertical-align: top;
}
.valign-middle {
  vertical-align: middle;
}
.padded {
  padding: 10px;
}
.padded-20 {
  padding: 20px;
}
p {
  padding-bottom: 5px;
}
.margin-center {
  margin: 0 auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.no-lineheight {
  line-height: 100%;
}
.no-top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-bottom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.no-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.top {
  margin-top: 10px;
}
.top-20 {
  margin-top: 20px;
}
.bottom {
  margin-bottom: 10px;
}
.p-left {
  padding-left: 10px;
}
.p-right {
  padding-right: 10px;
}
.m-left {
  margin-left: 10px;
}
.m-right {
  margin-right: 10px;
}
.fill {
  width: 100%;
}
.break-word {
  word-break: break-all;
}
.progress {
  display: block;
  width: 100%;
  height: 20px;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #eef2f7;
  overflow: hidden;
  -webkit-appearance: none;
  -mz-appearance: none;
}
.progress .progress-bar {
  display: block;
  height: 20px;
  overflow: hidden;
  position: relative;
  top: 0;
  background-color: #4e91e4;
}
.progress .progress-percent {
  display: block;
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -20px;
  z-index: 2;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  background-color: transparent;
  color: #546778;
}
.card.product {
  height: 170px;
  padding: 0;
  margin: 10px 0 10px 0;
  border-width: 2px 3px 3px 2px;
  background-color: #fdfdf9;
  position: relative;
}
.card.product .product-img {
  padding: 0;
  margin: 0;
  background-size: contain, 1px 1px;
  height: 100%;
  background-position: center center, top left;
  border-radius: 5px 0 0 5px;
  border-right: 2px solid #eef2f7;
  background-color: #fdfdf9;
  background-repeat: no-repeat, repeat;
}
.product-additional-photos img {
  border-radius: 0px !important;
}
.card.product .product-info {
  height: calc(100% - 2px);
  border-radius: 5px;
  background-color: #fdfdf9;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.card.product .box-price {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #eef2f7;
  padding: 8px 10px 3px 10px;
  width: auto;
  border-radius: 0 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card.product .box-title {
  display: inline-block;
  padding: 10px 0;
  max-height: 44px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card.product a .box-title {
  color: #546778;
}
.card.product .box-location,
.card.product .box-type,
.card.product .dashboard-status {
  max-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card.message.light,
.card.message.light .small {
  color: #879aab;
}
.card.message.dark,
.card.message.dark .small {
  color: #546778;
}
.card.message.dark.new,
.card.message.light.new {
  border: 2px solid #4e91e4;
  border-width: 2px 3px 3px 2px;
}
.card.message.dark .small.btn,
.card.message.light .small.btn {
  color: #fff;
}
a.btn.small,
button.small,
input[type="submit"].small {
  display: inline-block;
  font-size: 14px;
  padding: 6px 16px;
  line-height: 14px;
  color: #fff;
}
.box-homepage {
  background-image: url(https://kuno.bitejo.com/assets/abstract_bg2.jpg);
  background-size: cover;
  background-position: center center;
  background-color: #eef2f7;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 40px;
}
.header-homepage-gallery {
  background: #F9FAFA;
}
.homepage-gallery .homepage-product {
  display: inline-block;
  width: calc(25% - 16px);
  height: 230px;
  margin: 8px;
  padding: 0;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  overflow: hidden;
}
.homepage-gallery .homepage-product-img {
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.homepage-gallery .homepage-product-title {
  display: block;
  padding: 5px 20px;
  margin-top: 5px;
  color: #546778;
  line-height: 100%;
  height: 40px;
  overflow: hidden;
}
.homepage-gallery .homepage-product-price {
  display: block;
  padding: 5px 20px;
  margin-top: 5px;
  color: #546778;
  line-height: 100%;
  max-height: 40px;
  overflow: hidden;
  background: #eef2f7;
  text-align: right;
  opacity: 0.7;
  height: 26px;
}
.homepage-info {
  background-image: url(https://kuno.bitejo.com/assets/abstract_bg2.jpg);
  background-size: cover;
  background-position: left top;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-right: 40px;
  color: #fff;
  font-weight: 600;
}
.homepage-info h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.homepage-info .two {
  height: auto;
  vertical-align: bottom;
  text-align: center;
  padding-bottom: 0px;
}
.homepage-info .two img {
  height: 360px;
  width: auto;
  text-align: center;
  vertical-align: bottom;
}
.homepage-info .four {
  vertical-align: top;
}
.top-categories {
  background: #dde5ef;
  padding: 5px 20px;
}
.homepage-top-cta {
  background: #204a5e;
  color: #fff !important;
  font-weight: bold !important;
  padding: 5px;
  font-size: 14px;
  line-height: 100%;
}
.homepage-cta {
  background: #204a5e;
  color: #fff !important;
  font-weight: bold !important;
  padding: 5px 20px;
  font-size: 20px;
}
#header_searchbar .header-search-input {
  width: calc(100% - 80px);
  border-radius: 5px !important;
}
#header_searchbar .header-search-icon {
  width: 22px;
  height: 22px;
  padding: 0px;
  margin-top: 8px;
}
.box-homepage div,
.box-homepage h2,
.box-homepage p {
  margin: 10px auto;
}
.box-homepage-title {
  max-width: 340px;
  line-height: 38px;
  letter-spacing: -1px;
  font-size: 36px;
  margin-top: 60px !important;
}
.box-homepage-subtitle {
  font-size: 20px;
  width: 300px;
  line-height: 22px;
}
.box-homepage-p {
  font-size: 16px;
  line-height: 24px;
  max-width: 300px;
}
.box-homepage button {
  margin: 10px;
}
.max-width-100 {
  max-width: 100px;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.product-holder {
  padding: 0;
  margin: 0;
  background-size: contain;
  width: 100%;
  height: 350px;
  background-position: center center;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-color: #fdfdf9;
  padding: 0;
  margin: 0 auto;
}
.toolbar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ee675d;
  padding: 5px;
  text-align: right;
  z-index: 10;
}
.toolbar form {
  margin: 0 10px;
}
.toolbar input[type="text"] {
  border-radius: 5px 0 0 5px;
}
.toolbar input[type="submit"] {
  border-radius: 0 5px 5px 0;
}
input[type="submit"].btn.btn-del {
  padding: 0;
  font-size: 12px;
  display: inline;
  height: 14px;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  margin: 0 0 0 4px;
  line-height: 100%;
  font-weight: 700;
}
@media (max-width: 800px), (hover: none) {
  .five,
  .five-half,
  .four,
  .four-half,
  .half,
  .one,
  .one-half,
  .six,
  .three,
  .two {
    width: 100% !important;
  }
  .card.product .two {
    width: 32% !important;
  }
  .card.product .four {
    width: 66% !important;
  }
  .card.product .product-info .one,
  .card.product .product-info .three,
  .card.product .product-info .two {
    width: 32% !important;
    text-align: center !important;
  }
  .card.product .dashboard-status {
    display: block !important;
  }
  .card.product.product-dashboard .box-title {
    padding: 0 !important;
  }
  .card.product .box-title.long-title {
    font-size: 15px !important;
    line-height: 15px !important;
    height: auto !important;
    max-height: auto !important;
    overflow: auto !important;
    white-space: normal !important;
  }
  .card.product a.btn.small.icon.icon-cart,
  .dashboard-heading a.btn.small.icon.icon-edit,
  .msg-button a.btn.small.icon.icon-plane {
    padding: 2px 7px !important;
    background-image: none !important;
  }
  .messages .one {
    width: 16% !important;
  }
  .buy .two,
  .dashboard-heading.two,
  .msg-heading.two,
  .msg-pages.one,
  .msg-pages.two,
  .pages .two,
  .search-bar .two,
  .switch-currency.two {
    width: 32% !important;
  }
  .buy .four,
  .dashboard-heading.four,
  .messages .four,
  .pages .four,
  .search-bar .four,
  .switch-currency.four {
    width: 66% !important;
  }
  .message .three,
  .order-history .three,
  .view-txs.three {
    width: 49% !important;
  }
  .main,
  .main.four,
  .side,
  .side.two {
    width: 99% !important;
    float: none;
  }
  .msg-button {
    text-align: center;
    display: inline !important;
    width: auto;
  }
  .new-listing,
  .new-listing .center,
  .new-listing .right,
  .new-listing .valign-center,
  .new-listing .valign-middle,
  .new-listing div,
  .new-listing span {
    text-align: left !important;
    vertical-align: top !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .new-listing div.heading,
  .new-listing span.heading {
    display: inline-block !important;
    margin: 24px 0 0 0 !important;
  }
  .new-listing select {
    display: inline-block !important;
    margin: 5px 0 5px 0 !important;
  }
  .header-crypto,
  .header-links img,
  .header-name,
  .header-logo,
  .header-username {
    display: none !important;
  }
  header .header-links {
    width: calc(100% - 10px) !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  header .two.header-searchbar {
    display: inline-block;
    width: 59% !important;
  }
  .header-search-input {
    max-width: calc(100% - 60px);
  }
  .header-search-button {
    width: 50px;
  }
  header .one {
    width: 25% !important;
  }
  header .two {
    width: 74% !important;
  }
  footer {
    padding:20px 5px !important;
  }
  footer .footer-box {
    width: 99% !important;
    padding-top: 20px;
    text-align: center !important;
  }
  footer .heading {
    text-align: center !important;
  }
  footer .footer-links {
    width: calc(25% - 1px) !important;
  }
  .bitcoin-address {
    overflow: auto;
  }
  .product-additional-photos .two {
    width: calc(33% - 10px) !important;
  }
  .product-additional-photos .two img {
    max-width: 100% !important;
  }
  .wallet-txs .bitcoin-address,
  .wallet-txs .bitcoin-amount,
  .wallet-txs .bitcoin-date,
  .wallet-txs .bitcoin-from-address {
    display: inline-block;
  }
  .wallet-txs .bitcoin-amount {
    margin-top: 0;
  }
  .wallet-txs .bitcoin-address {
    overflow: auto;
    max-width: calc(99% - 35px);
  }
  .wallet-txs .bitcoin-avatar {
    display: none;
  }
  .wallet-txs .bitcoin-date {
    float: left;
  }
  .pages .two-half.right {
    text-align: left !important;
  }
.box-homepage {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.box-homepage-bottom .two {
  margin: 0 auto !important;
  padding: 0 !important;
  opacity: 0.8 !important;
  font-size: 14px !important;
}

.box-homepage-bottom .two p {
  margin: 0 auto !important;
  padding: 0 !important;
}

.header-payment-methods {
  text-align: center !important;
}

.header-payment-methods .one-half {
  width: calc(25% - 10px) !important;
  padding: 0px 5px !important;
}

.homepage-gallery .homepage-product {
  width: calc(100% - 16px) !important;
  margin-bottom: 12px !important;
}

.top-categories ul.one-half {
  width: calc(50% - 10px) !important;
}

.top-categories ul.three {
  width: calc(50% - 10px) !important;
}

.top-categories div.three {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.homepage-info {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.homepage-info .two {
  display: none !important;
}

.three.product-price, .three.product-location {
  width: calc(50% - 10px) !important;
}

.three.product-price .two, .three.product-location .two {
  padding-bottom: 0px !important;
}
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .header-crypto,
  .header-links img,
  .header-name {
    display: none;
  }
  header .one {
    width: 10% !important;
    text-align: center;
  }
  header .header-links {
    width: 38% !important;
    text-align: center;
  }
  header .header-searchbar {
    width: 51% !important;
    text-align: right;
    padding-right: 10px;
  }
  footer {
    text-align: center !important;
  }
  footer .footer-box {
    width: 99% !important;
    padding-top: 20px;
    text-align: center !important;
  }
  footer .footer-links {
    width: 24% !important;
    padding-left: 10px;
    text-align: left !important;
  }
}

/* NEW */
.form-message {
  padding: 10px 0px;
  display: block;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
  margin: 4px auto;
  width: 80%;
}
.form-message.message-success {
  background: rgba(0,255,0,0.15);
}
.form-message.message-error {
  background: rgba(255,0,0,0.15);
}
body {
  background:rgb(249, 249, 236);
}
header.kuno {
  background:#fff;
  box-shadow: 0px 1px 2px 2px #fed551;
  z-index: 3;
  position: relative;
}
.header-name.kuno {
  color:#777 !important;
}
.header-button.kuno {
  background-color: #fff;
  font-weight: bold;
  border: 2px solid #ff7a00;
  color: #ff7a00 !important;
}
#header_searchbar .header-search-input.kuno {
  border: 2px solid #ff7a00 !important;
  border-right: 0px !important;
  color: #ff7a00 !important;
  height: 36px !important;
}
#header_searchbar .header-search-button.kuno {
  background: #ff7a00 !important;
  border-radius: 0px 5px 5px 0px !important;
  margin-left: -20px !important;
  display: inline-block !important;
  border: 0px !important;
  vertical-align: middle !important;
}
.homepage-info.kuno {
  background-image: url(https://kuno.bitejo.com/assets/orange_bg2.jpg);
  background-position: right center;
}
.header-icon-small.kuno {
  height: 42px;
  width: auto;
  margin-top: -10px;
  transform: rotate(3deg);
  margin-left: 0px;
}
.header-phone.kuno {
  height: 400px !important;
  margin-left: 50px;
  border-radius: 0px;
}
.header-desc.kuno {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.header-desc-text.kuno {
  display:inline-block;
  margin:0 auto;
  width: auto;
}
.header-h1.kuno {
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(103, 41, 15, 0.5);
  font-family: LilitaOne;
  text-transform: uppercase;
}
.header-p1.kuno {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 100%;
  text-shadow: 1px 1px 1px rgba(103, 41, 15, 0.5);
  font-weight: 800;
  max-width: 470px !important;
}
.header-p2.kuno {
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(103, 41, 15, 0.5);
  font-weight: 800;
}
.header-button2.kuno {
  background-color: #55ac36;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-weight:bold;
}
.header-homepage-gallery {
  background:#fff;
}
.header-latest-h3.kuno {
  font-size: 28px;
  text-transform: uppercase;
  font-family: LilitaOne;
  color: #ff7a00;
}
.header-latest-span.kuno {
  vertical-align: middle;
  padding-right: 2px;
}
.header-latest-arrow.kuno {
  font-size: 28px !important;
  vertical-align: middle;
  background-color: #55ac36;
}
.homepage-product.kuno {
  width: calc(25% - 20px);
  height: 265px;
}
.homepage-product-progress.kuno {
  height: 24px;
  display: block;
  width: 90%;
  margin: 10px auto;
  margin-top: 5px;
  padding-top:1px;
  font-weight: 800;
  border: 2px solid #eee;
  border-radius: 10px;
  color: #5d7e52;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  text-align: center;
  font-size: 14px;
}
.homepage-product-progress.progress-large.kuno {
  height: 40px;
  border-radius: 20px;
  padding-top: 8px;
  font-size: 18px;
  outline: 1px solid #55ac36;
}
.homepage-product-button.kuno {
  background-color: #55ac36;
  font-size: 13px;
  padding: 3px 8px;
  line-height: 100%;
  margin: 0px;
}
.homepage-product-price.kuno {
  opacity: 1;
}
.homepage-product-publisher.kuno {
  font-size: 15px;
}
.top-categories.kuno {
  background: linear-gradient(160deg, rgba(255,194,43,1) 0%, rgba(254,151,80,1) 35%, rgba(204,81,31,1) 100%);
  padding: 10px 40px;
}
.top-categories-h3.kuno {
  color: #fff;
  font-family: LilitaOne;
  text-transform: uppercase;
  font-size: 28px;
}
.top-categories-ul.kuno {
  color:#fff !important;
  font-weight:800;
}
.top-categories-a.kuno {
  color:#fff !important;
  font-weight:800;
}
.button-cta.kuno {
  background-color: #55ac36;
}
.monero-info.kuno {
  padding-top: 0px;
  border-bottom: 10px solid #FDCA0D;
  border-top: 0px solid #FDCA0D;
  background-image: url(https://kuno.bitejo.com/assets/moneroj.png) !important;
  background-size: 200px auto;
  background-position: calc(100% - 40px) center;
  background-repeat: no-repeat;
  background-color:#fff;
}
.monero-info-section.kuno {
  padding: 40px;
  padding-right: 0px;
  margin: 0 auto;
  width: 70%;
  display: block;
}
.monero-info-point.kuno {
  margin-bottom: 80px;
}
.monero-info-h3.kuno {
  font-size: 32px;
  text-transform: uppercase;
  font-family: LilitaOne;
  color: #ff7a00;
}
.monero-info-p-bold.kuno {
  font-size: 18px;
  font-weight:800;
  line-height: 110%;
  margin-bottom: 4px;
  color: #777;
}
.monero-info-p.kuno {
  font-size: 18px;
  font-weight:normal;
  line-height: 110%;
  margin-bottom: 4px;
  color: #777;
}
.monero-info-button.kuno {
  background-color: #fff;
  font-weight: bold;
  border: 2px solid #ff7a00;
  color: #ff7a00 !important;
  display:inline-block;
  margin-right:40px;
}
.use-case.kuno {
  padding-top: 0px;
  border-bottom: 10px solid #ff7a00;
  border-top: 0px solid #FDCA0D;
  background-image:none !important;
  background-color:#fff;
  vertical-align: top !important;
  height: 360px;
}
.use-case-info.kuno {
  padding: 40px;
  padding-right: 0px;
  vertical-align: top !important;
}
.use-case-h3.kuno {
  font-size: 32px;
  text-transform: uppercase;
  font-family: LilitaOne;
  color: #ff7a00;
}
.use-case-p-bold.kuno {
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 4px;
  font-weight: 800;
  color: #777;
}
.use-case-p.kuno {
  font-size: 18px;
  line-height: 110%;
  margin-bottom: 4px;
  font-weight: normal;
  color: #777;
}
.use-case-button.kuno {
  background-color: #55ac36;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.monero-info a, .use-case a {
  color: #777;
  text-decoration: underline;
  text-decoration-color: #ff7a00;
  text-decoration-thickness: 2px;
  font-weight: normal;
}
.monero-info a:hover, .use-case a:hover {
  color: #ff7a00;
  font-weight: normal;
}
.section-h2.kuno {
  font-size: 28px;
  text-transform: uppercase;
  font-family: LilitaOne;
  color: #ff7a00;
}
.kuno-footer {
  background: #fff;
  box-shadow: 0px -1px 2px 2px #fed551;
  z-index: 3;
  position: relative;
  margin-top: 2px;
}
.donation-box.kuno {
  background-image: url(https://kuno.bitejo.com/assets/moneroj.png) !important;
  background-size: 100px auto;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}
.product-holder.kuno {
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}
.product-qr.kuno {
  height: 200px;
  width: 200px;
  margin: 10px auto;
  background-size: 50px 50px, contain;
  background-repeat: no-repeat;
  background-position: center;
}
.product-main.kuno {
  padding: 30px 20px;
}
.product-stat.kuno {
  display: block;
  margin: 0px auto;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.product-stat.kuno span {
  vertical-align: baseline;
  font-size: 16px;
}
.product-stat-desc.kuno {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 1px;
}
.product-h1.kuno {
  font-size: 26px;
}
.product-h2.kuno {
  font-size: 20px;
}
a.btn.green-button.kuno, input[type='submit'].btn.green-button.kuno {
  background-color: #55ac36;
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
}
a.btn.red-button, input[type='submit'].btn.red-button {
  background-color: #ee675d;
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
}
a.btn.outline-button, input[type='submit'].btn.outline-button {
  padding-top: 6px;
  padding-bottom: 6px;
  height: auto;
  background-color: #fff;
  font-weight: bold;
  border: 2px solid #ff7a00;
  color: #ff7a00 !important;
}
input.product-share.kuno {
  background-image: url(https://kuno.bitejo.com/assets/monero_icon2.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right 8px;
  padding-right: 24px;
  padding-left: 0px;
}
.search-page .homepage-product.kuno {
  width: calc(33% - 20px);
  height: 265px;
}
.new-fundraiser-h1.kuno {
  font-weight: 700;
  font-size: 16px;
  color: #546778;
  display: block;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.new-fundraiser-nav.kuno {
  background-image: url(https://kuno.bitejo.com/assets/moneroj.png), url(https://kuno.bitejo.com/assets/moneroj.png);
  background-size: 80px auto, 90px auto;
  background-position: 10px 2px, calc(100% - 20px) calc(100% - 3px);
  background-repeat: no-repeat;
}
.support-box {
  background-color: #fafafa;
  padding: 10px;
  box-shadow: inset 0px 0px 2px #ddd;
  border-radius: 10px;
}
.product-qr.support-qr {
  width: 150px;
  height: 150px;
}
.supporter-amount {
  font-size: 28px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.supporter-amount span {
  font-size: 14px;
  font-weight: normal;
  color: #777;
}
.supporter-comment {
  position: relative;
}
.supporter-text {
}
.supporter-arrow {
  border-style: solid;
  border-color: transparent;
  border-width: 8px 24px 12px 0px;
  border-right-color: #eef2f7;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 24px;
  left: -8px;
  padding: 0px;
  margin: 0px;
}
.supporter-heart {
  width: 24px;
  height: 24px;
  transform: rotate(2deg);
}
.supporter-date {
  padding-top:2px;
}
.donation-page-comment {
  background-image: url(https://kuno.bitejo.com/assets/moneroj.png) !important;
  background-size: 100px auto;
  background-position: calc(100% - 10px) calc(100% - 10px);
  background-repeat: no-repeat;
}
.header-logo, .header-name, .header-searchbar {
  vertical-align: middle;
}
button:hover, a:hover, input[type=submit]:hover {
  filter: brightness(0.95);
  transition: 0.1s filter linear;
}
@media (max-width: 800px), (hover: none) {
.header-searchbar-left.kuno {
  width: 40% !important;
}
.header-searchbar-right.kuno {
  width: 59% !important;
}
.header-p2.kuno {
  line-height: 100% !important;
  margin-bottom: 10px !important;
}
.header-button2.kuno {
  padding: 5px 10px !important;
  margin-left: -10px !important;
  margin-right: 20px !important;
}
.header-buttons.three.kuno {
  width: auto !important;
}
.homepage-product-publisher.kuno {
  width: 70% !important;
}
.homepage-product-support.kuno {
  width: 29% !important;
}
.top-categories-ul.kuno, .top-categories-a.kuno {
  line-height: 100% !important;
}
.top-categories-ul.kuno li {
  margin-bottom: 8px !important;
}
.monero-info-section.kuno {
  width: 100% !important;
  padding: 10px !important;
  background-color: rgba(255,255,255,0.7) !important;
}
.monero-info-button.kuno {
  display: block !important;
  margin-bottom: 10px !important;
}
.use-case.kuno {
  padding: 20px 10px !important;
}
.use-case-image.kuno {
  width: 100% !important;
}
.use-case-info.kuno {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.use-case-green-button {
  width: auto !important;
  margin-right: 5px !important;
}
.kuno-footer {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.kuno-footer .footer-links.one {
  width: 32% !important;
  padding-left: 20px !important;
}
.two.product-price.kuno {
  width: calc(33% - 2px) !important;
}
.homepage-product-progress.kuno.progress-large {
  width: 99% !important;
}
.product-stat-desc.kuno {
  font-size: 14px !important;
}
.new-fundraiser-nav.kuno {
  padding: 15px 10px !important;
  text-align: center !important;
  margin-bottom: 10px !important;
}
.new-fundraiser-h1.kuno {
  margin-top: 20px !important;
}
.new-fundraiser-box.kuno {
  margin-top: 10px !important;
}
}